body {
    padding-top:90px;
    padding-bottom: 100px;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar.top {
    font-size: 2em;
}

.navbar .center {
    text-align: center;
}

.navbar .right {
    text-align: right;
}

.navbar .glyphicon {
    color: rgb(51, 122, 183)
}

.message-content .author {
    font-weight: bold;
}

.message-content .message {
    font-size: 1.5em;
}
    
.chat-message .user-image {
    font-size: 3em;
    padding: 10px 2px;
    text-align: center;
    border-radius: 10px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(51, 122, 183);
    color: rgb(51, 122, 183);
}

.chat-message {
    padding-bottom: 15px;
}

.notif {
    width: 100%;
    padding: 15px 1em;
    margin: 0;
}

.warning {
    position: absolute;
    z-index: 100;
    font-size: 1.5em;
}

.notif .message {
    margin-right: wwpx;
}
