<!doctype html>
<html>
<head>
    <title>chat</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/base.css">
</head>
<body>
    <nav class="navbar top navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <span class="col-md-3 glyphicon glyphicon-comment left"></span>
            <span class="col-md-6 center">
                {% block header %}{% endblock %}
            </span>
            <span class="col-md-3 right">
                <a href="" aria-label="About chat"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a>
                <a href="" aria-label="New chat"><span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span></a>
            </span>
        </div>
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <div class="container-fluid">
        {% block footer %}{% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/static/bufferView.js"></script>
    <script src="/static/WebCrypto-fake.js"></script>
    <script src="/static/chat-page.js"></script>
</body>
</html>
