{% extends "base.html" %}

{% block header %}
    {{ conversation_code }}
{% endblock %}


{% block content %}
    <form id="add-user-form">
        <fieldset class="form-group">
            <label>Name:</label>
            <input class="form-control" name="name" type="text">
        </fieldset>
        <fieldset class="form-group">
            <label>Public key:</label>
            <textarea class="form-control" name="pkey" placeholder="Paste your RSA public key here...."></textarea>
        </fieldset>
        <fieldset class="form-group">
            <label>Private key:</label>
            <textarea class="form-control" name="private-key" placeholder="Paste your RSA private key here..."></textarea>
        </fieldset>
        <span class="error" hidden></span>
        <input class="form-control" type="submit" value="Start chatting">
    </form>
    <div class="content" id="conversation-pane" data-ccode="{{conversation_code}}" hidden>
        <div id="conversation"></div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <form id="send-message-form">
                <div class="input-group input-group-lg">
                  <textarea class="form-control" name="message" placeholder="Send a message...."></textarea>
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <span class="glyphicon glyphicon-send"></span>
                    </button>
                  </span>
                </div><!-- /input-group -->
                <span class="error" hidden></span>
            </form>
        </div>
    </nav>
    </div>
    <script src="/static/WebCrypto-fake.js"></script>
{% endblock %}
