{% extends "base.html" %}

{% block header %}
    {{ conversation_code }}
{% endblock %}


{% block content %}
    <form id="add-user-form">
        <fieldset class="form-group">
            <input class="form-control" name="name" type="text" placeholder="What is your name?">
        <div>This is the name you will use to chat.</div>
        </fieldset>
        <span class="warning alert" hidden></span>
        <input class="form-control" type="submit" value="Start chatting">
    </form>
    <div class="content" id="conversation-pane" data-ccode="{{conversation_code}}" hidden>
        <div class="notif warning alert" hidden></div>
        <div id="conversation"></div>
</div>
{% endblock %}
{% block footer %}
    <nav class="navbar bottom navbar-default navbar-fixed-bottom" id="send-msg-bar" hidden>
            <div class="notif warning alert alert-danger" id="join-warning" hidden>
                <span class="message">
                    <span id="joiner-name"></span>
                    is trying to join this chat.
                </span>
                <button type="button" class="btn btn-success" data-approved="1">Approve!</button>
                <button type="button" class="btn btn-default" data-approved="0"">Reject.</button>
            </div>
            <form id="send-message-form">
                <div class="input-group input-group-lg">
                  <textarea class="form-control" name="message" placeholder="Send a message...."></textarea>
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <span class="glyphicon glyphicon-send"></span>
                    </button>
                  </span>
                </div>
                <div class="notif alert alert-warning"  hidden></div>
            </form>
    </nav>
{% endblock %}
