{% extends "base.html" %}

{% block header %}
    {{ conversation_code }}
{% endblock %}


{% block content %}
    <form id="add-user-form">
        <label>Name: <input name="name" type="text"></label>
        <span class="error" hidden></span>
        <input type="submit" value="Start chatting!">
    </form>
    <div class="content" id="conversation-pane" data-ccode="{{conversation_code}}" hidden>
        <div id="conversation"></div>
        <form id="send-message-form">
            <input type="text" name="message" placeholder="Send a message...">
            <span class="error" hidden></span>
            <input type="submit" value="Send message">
        </form>
    </div>
{% endblock %}
