{% extends "base.html" %}

{% block header %}
    CryptoIM
{% endblock %}


{% block content %}
    <div id="join-chat-container" class="col-xs-12 col-sm-8 col-sm-push-1 col-md-6 col-md-push-3">
        <div class="icon glyphicon glyphicon-comment"></div>
        <div class="icon  inner glyphicon glyphicon-comment" id="chat-bubble-inner"></div>
        <input type="text" id="conversation-code" placeholder="Chat name">
        <a href="/" class="relative btn btn-default" id="conversation-button">Find chat</a>
    </div>
    <script type="text/javascript" src="/static/home-page.js"></script>
{% endblock %}

